## Retrieving and cleaning data

This notebook can be used to get the data from your experiment saved as a CSV
file. You need to put the SQL file you receive in the phpmyadmin tool (see
Canvas on instructions how to do this) and then run this code. Watch out!
Sometimes you need to make small adaptations (indicated in the notebook)

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/dzhang/anaconda3/lib/python3.10/site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/dzhang/anaconda3/lib/python3.10/site-packages (from sqlalchemy) (4.11.0)

In [2]:
import pandas as pd
from sqlalchemy import create_engine, inspect

The following code connects to the SQL database from phpmyadmin and gets the
names of all the tables that are present. For each group there should be several
tables such as "calibration", "userconsent" or "propositions" -- but there might
be some columns only present for some of the groups.

**!! IMPORTANT !! You need to change the first command to reflect the name that
you have given the database. In this example the database was called "group25",
replace this with the name the database has in your phpmyadmin**

In [3]:
# Create a connection to the MySQL database using SQLAlchemy
engine = create_engine('mysql+pymysql://root:@localhost/group21_final') # !!! Change database name here !!!

# Use the inspect module to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Print the list of all tables
for table in tables:
    print(table)

group21_calibration
group21_pre_propositions
group21_propositions
group21_propositions1
group21_propositions2
group21_propositions3
group21_propositions4
group21_recommendation
group21_userallergies
group21_userconsent
group21_userdemograph
group21_usermancheck
group21_userpresatisfaction
group21_users
group21_usersatisfaction
group21_usersatisfaction1
group21_usersatisfaction2
group21_usersatisfaction3
group21_usersatisfaction4
group21_userselection

Since we also want to know to which statements the different likert scale items
correspond (important for later analysis), we can retrieve a kind of "codebook"
for this from the database. The information about the likert scale items can be
stored in a few different tables: pre_propositions (asked before the
calibration/recommendation), propositions (asked after the recommendation), and
sometimes propositions1 if there were more questions than fit on the pages. Your
group might have one, two, or all of these tables. Running the code below
outputs the saved (pre-)propositions with their id, question wording, and scale
(usually 5 or 7 point). You can use the id to look up the matching column in the
csv dataframe later.

With the code below we are retrieving the tables, loading them into pandas
dataframes and adding a prefix to the item names (pre* or post*) as often the
IDs are the same for prepropositions and propositions, so we want to be able to
keep them apart later.

In [4]:
def load_and_concat_propositions(engine, group_prefix):
    tables = inspector.get_table_names()  # Retrieve all table names from the database
    # Filter tables to only include those containing "pre_propositions" or "propositions" and match the group prefix
    proposition_names = [table.replace(group_prefix, '') for table in tables if ("pre_propositions" in table or "propositions" in table) and table.startswith(group_prefix)]
    
    dfs = []  # List to store individual DataFrames
    for proposition_name in proposition_names:
        # Determine prefix based on proposition_name pattern
        if "pre_propositions" in proposition_name:
            prefix = 'pre_'
        elif proposition_name.startswith('propositions'):
            prefix = 'post_'
        else:
            prefix = ''  # Default prefix if none of the conditions match

        table_name = f"{group_prefix}{proposition_name}" if group_prefix else proposition_name
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql(query, engine)
        string_columns = ['id']
        for col in string_columns:
            df[col] = df[col].apply(lambda x: f"{prefix}{x}")
        dfs.append(df)
    
    # Concatenate all DataFrames in the list
    if dfs:
        concatenated_df = pd.concat(dfs, ignore_index=True)
        return concatenated_df
    else:
        print("No tables found or loaded.")

# Example usage
group_prefix = "group21_"  # !!!! Define the group prefix here !!!

df_item_id = load_and_concat_propositions(engine, group_prefix)
df_item_id

         id                                           question  scale
0     pre_2  Overall, I am satisfied with how easy it is to...      7
1     pre_3                   It is simple to use this system.      7
2     pre_4              I feel comfortable using this system.      7
3     pre_5  The information (such as online help, on-scree...      7
4     pre_6          It is easy to find the infromation I need      7
5     pre_7  The information provded with the system is eas...      7
6    post_8                         Provide useful suggestions      7
7    post_9                              Make decisions easier      7
8   post_10  Are a good way to learn about different produc...      7
9   post_11  Offer suggestions that I might not have though...      7
10  post_12  Have access to and can process more informatio...      7
11  post_13                                       Are reliable      7
12  post_14                                     Are dependable      7
13  post_15      Are designed with the best intentions in mind      7
14  post_16                                     Can be trusted      7
15  post_17                                     Are not biased      7
16  post_18  Want me to find an option that best fits my needs      7
17  post_19  Are a good way to get suggestions from a neutr...      7
18  post_20  I would use the system to get book recommendat...      7
19  post_21  I would use the system to find a new book to r...      7
20  post_22  I would use the system to make finding a book ...      7
21  post_23           I would use the system to relax my mind.      7
22  post_24  I would use the system to have an enjoyable time.      7
23  post_25                    I would use the system for fun.      7
24  post_26           When I use the system, I have enjoyment.      7
25  post_27            I enjoyed doing this activity very much      7
26  post_28                        This activity was fun to do      7
27  post_29               I thought this was a boring activity      7
28  post_30     This activity did not hold my attention at all      7
29  post_31        I thought this activity was quite enjoyable      7
30  post_32                                       Fake-Natural      7
31  post_33                              Machinelike-Humanlike      7
32  post_34                               Unconsious-Conscious      7
33  post_35                                Artificial-Lifelike      7
34  post_36                 Reading is one of my main hobbies.      7
35  post_37  I rely on recommender systems to help me make ...      7
36  post_38               I am someone who does a thorough job      7
37  post_39          I am someone who can be somewhat careless      7
38  post_40          I am someone who tends to be disorganized      7
39  post_41  I am someone who perseveres until the task is ...      7
40  post_42           I am someone who does things efficiently      7

In [5]:
df_item_id.to_csv(f'{group_prefix}item ids.csv', index=False)

In the next code cell we are selecting all the columns starting with "user"
except for the "users" column (as it does not include any relevant information
for us). Now we have a list of all the columns that we later want to retrieve
data for. By taking this approach, our code works for all kinds of different
columns starting with "user" since they are different from group to group.

In [6]:
# Select all the user columns
usercols = [n for n in tables if 'user' in n]

In [7]:
usercols

['group21_userallergies',
 'group21_userconsent',
 'group21_userdemograph',
 'group21_usermancheck',
 'group21_userpresatisfaction',
 'group21_users',
 'group21_usersatisfaction',
 'group21_usersatisfaction1',
 'group21_usersatisfaction2',
 'group21_usersatisfaction3',
 'group21_usersatisfaction4',
 'group21_userselection']

In the next cell we are defining a function that makes it possible for us later
to also add a prefix to column names which we will use later.

In [8]:
# Function to add prefix to all columns except 'userId'
def add_prefix_except_userid(df, prefix):
    return df.rename(columns={col: f"{prefix}{col}" if col != "userId" else col for col in df.columns})

In the following cell we are now finally retrieving our data: We take the names
of all the columns we identified as relevant (usercols), retrieve their content,
and put them all in a list. There are two types of tables that first need some
more work: userpresatisfaction(1) and usersatisfaction(1). These are the likert
scale items and they are stored in so-called long format (meaning that every
person appears in as many rows as are items in the likert scale, so if there is
a likert scale with 14 items there are 14 rows per study participant). As the
long format is not very useful for us to further work with the data, we convert
it into wide format (you can see the command below, .pivot) so that all the
tables are in the same format.

In [9]:
dfs = []
for col in usercols:
    query = f"SELECT * FROM {col}"
    tablecontent = pd.read_sql(query, engine)
    if 'userpresatisfaction' in col:
        tablecontent = tablecontent.pivot(index='userId', columns='questionId', values='value').reset_index()
        tablecontent.columns.name = None
        tablecontent = add_prefix_except_userid(tablecontent, 'pre_')
    elif 'usersatisfaction' in col:
        tablecontent = tablecontent.pivot(index='userId', columns='questionId', values='value').reset_index()
        tablecontent.columns.name = None
        tablecontent = add_prefix_except_userid(tablecontent, 'post_')
    elif 'userdemograph' in col: # !!! add more elif conditions and adapt table names if there are multiple extra 'time' columns !!!
        # drop column 'time'
        try:
            tablecontent = tablecontent.drop(columns=['time'])
        except:
            pass
    elif col == group_prefix + 'users':
        tablecontent = tablecontent.rename(columns={'time': 'start_time'})
    dfs.append(tablecontent)

In [10]:
dfs

[     userId  genre
 0         5      2
 1         5      2
 2       534      2
 3       535      2
 4       536      1
 ..      ...    ...
 218     720      4
 219     721      4
 220     722      2
 221     723      1
 222     724      4

 [223 rows x 2 columns],
     userId  consent
 0      532        1
 1      556        1
 2      558        1
 3      559        1
 4      583        1
 ..     ...      ...
 82     716        1
 83     715        1
 84     721        1
 85     722        1
 86     723        1

 [87 rows x 2 columns],
     userId  age  gender  device  education
 0      587   23       2       2          1
 1      588   23       2       2          2
 2      589   23       1       2          2
 3      590   20       1       2          2
 4      594   19       1       2          2
 ..     ...  ...     ...     ...        ...
 76     716   59       1       2          2
 77     715   54       2       2          4
 78     721   19       2       2          2
 79     722   22       2       2          4
 80     723   21       1       2          2

 [81 rows x 5 columns],
      userId  mancheck1  mancheck2
 0         4          6          1
 1         4          6          1
 2       548          0          2
 3       549          0          1
 4       550          0          5
 ..      ...        ...        ...
 109     715          0          1
 110     721          0          5
 111     722          0          2
 112     723          1          6
 113     724          1          4

 [114 rows x 3 columns],
      userId  pre_1  pre_2  pre_3  pre_4  pre_5  pre_6  pre_7  pre_11  pre_12  \
 0       485    4.0    2.0    2.0    2.0    2.0    NaN    NaN     2.0     2.0
 1       488    4.0    2.0    2.0    2.0    2.0    NaN    NaN     2.0     2.0
 2       489    3.0    2.0    2.0    2.0    2.0    NaN    NaN     2.0     2.0
 3       492    3.0    2.0    2.0    2.0    2.0    NaN    NaN     2.0     2.0
 4       497    3.0    3.0    2.0    2.0    2.0    NaN    NaN     2.0     2.0
 ..      ...    ...    ...    ...    ...    ...    ...    ...     ...     ...
 131     716    NaN    1.0    1.0    1.0    1.0    1.0    1.0     NaN     NaN
 132     721    NaN    4.0    7.0    5.0    5.0    5.0    5.0     NaN     NaN
 133     722    NaN    6.0    5.0    5.0    4.0    4.0    6.0     NaN     NaN
 134     723    NaN    7.0    7.0    7.0    6.0    6.0    6.0     NaN     NaN
 135     724    NaN    7.0    7.0    7.0    4.0    4.0    7.0     NaN     NaN

      ...  pre_16  pre_21  pre_22  pre_23  pre_24  pre_25  pre_26  pre_31  \
 0    ...     2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0
 1    ...     2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0
 2    ...     2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0
 3    ...     2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0
 4    ...     2.0     2.0     2.0     2.0     2.0     2.0     2.0     2.0
 ..   ...     ...     ...     ...     ...     ...     ...     ...     ...
 131  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 132  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 133  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 134  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
 135  ...     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      pre_32  pre_33
 0       2.0     2.0
 1       2.0     2.0
 2       2.0     2.0
 3       2.0     2.0
 4       2.0     2.0
 ..      ...     ...
 131     NaN     NaN
 132     NaN     NaN
 133     NaN     NaN
 134     NaN     NaN
 135     NaN     NaN

 [136 rows x 23 columns],
      userId  conditie                                           prolific  \
 0         1         3                       https://recipe-study.wur.nl/
 1         2         3                       https://recipe-study.wur.nl/
 2         3         2                       https://recipe-study.wur.nl/
 3         4         3                              74712973713jnfakjdnad
 4         5         1                              74712973713jnfakjdnad
 ..      ...       ...                                                ...
 719     720         1  https://recipe-study.wur.nl/group21_bookrecomm...
 720     721         1  https://recipe-study.wur.nl/group21_bookrecomm...
 721     722         0  https://recipe-study.wur.nl/group21_bookrecomm...
 722     723         0  https://recipe-study.wur.nl/group21_bookrecomm...
 723     724         1  https://recipe-study.wur.nl/group21_bookrecomm...

              start_time
 0   2024-06-14 16:30:43
 1   2024-06-14 16:30:43
 2   2024-06-14 16:30:43
 3   2024-06-14 16:30:43
 4   2024-06-14 16:30:43
 ..                  ...
 719 2024-06-23 01:36:53
 720 2024-06-23 01:38:36
 721 2024-06-23 15:17:58
 722 2024-06-23 16:17:09
 723 2024-06-23 23:47:10

 [724 rows x 4 columns],
      userId  post_1  post_2  post_3  post_4  post_5  post_8  post_9  post_10  \
 0       510     4.0     2.0     2.0     2.0     2.0     NaN     NaN      NaN
 1       516     NaN     NaN     3.0     3.0     3.0     NaN     NaN      NaN
 2       517     NaN     NaN     2.0     2.0     2.0     NaN     NaN      NaN
 3       518     NaN     NaN     2.0     2.0     2.0     NaN     NaN      NaN
 4       519     NaN     NaN     3.0     3.0     3.0     NaN     NaN      NaN
 ..      ...     ...     ...     ...     ...     ...     ...     ...      ...
 105     715     NaN     NaN     NaN     NaN     NaN     5.0     5.0      5.0
 106     716     NaN     NaN     NaN     NaN     NaN     1.0     1.0      1.0
 107     721     NaN     NaN     NaN     NaN     NaN     5.0     5.0      3.0
 108     722     NaN     NaN     NaN     NaN     NaN     6.0     6.0      6.0
 109     723     NaN     NaN     NaN     NaN     NaN     5.0     5.0      4.0

      post_11  ...  post_33  post_34  post_35  post_36  post_37  post_38  \
 0        2.0  ...      2.0      NaN      NaN      NaN      NaN      NaN
 1        3.0  ...      2.0      NaN      NaN      NaN      NaN      NaN
 2        2.0  ...      2.0      NaN      NaN      NaN      NaN      NaN
 3        2.0  ...      2.0      NaN      NaN      NaN      NaN      NaN
 4        2.0  ...      2.0      NaN      NaN      NaN      NaN      NaN
 ..       ...  ...      ...      ...      ...      ...      ...      ...
 105      5.0  ...      NaN      NaN      NaN      NaN      NaN      NaN
 106      1.0  ...      NaN      NaN      NaN      NaN      NaN      NaN
 107      4.0  ...      NaN      NaN      NaN      NaN      NaN      NaN
 108      6.0  ...      NaN      NaN      NaN      NaN      NaN      NaN
 109      4.0  ...      NaN      NaN      NaN      NaN      NaN      NaN

      post_39  post_40  post_41  post_42
 0        NaN      NaN      NaN      NaN
 1        NaN      NaN      NaN      NaN
 2        NaN      NaN      NaN      NaN
 3        NaN      NaN      NaN      NaN
 4        NaN      NaN      NaN      NaN
 ..       ...      ...      ...      ...
 105      NaN      NaN      NaN      NaN
 106      NaN      NaN      NaN      NaN
 107      NaN      NaN      NaN      NaN
 108      NaN      NaN      NaN      NaN
 109      NaN      NaN      NaN      NaN

 [110 rows x 41 columns],
     userId  post_20  post_21  post_22  post_23  post_24  post_25  post_26  \
 0      557        3        2        2        2        2        2        2
 1      558        3        3        3        3        3        2        2
 2      559        3        2        2        2        2        2        2
 3      583        3        2        2        2        2        2        2
 4      586        4        2        2        2        2        2        2
 ..     ...      ...      ...      ...      ...      ...      ...      ...
 80     715        5        5        5        2        6        5        3
 81     716        1        1        1        1        1        6        6
 82     721        4        5        5        3        3        4        4
 83     722        5        6        6        5        6        5        6
 84     723        5        5        5        7        7        7        4

     post_27  post_28  post_29  post_30  post_31
 0         2        2        2        2        2
 1         2        2        2        2        2
 2         2        2        2        2        2
 3         2        2        2        3        2
 4         2        2        2        2        2
 ..      ...      ...      ...      ...      ...
 80        7        3        6        2        7
 81        6        6        6        6        6
 82        4        4        1        1        4
 83        4        4        3        3        6
 84        4        4        7        6        7

 [85 rows x 13 columns],
     userId  post_32  post_33  post_34  post_35
 0      558        4        4        4        4
 1      559        4        4        4        4
 2      583        4        2        2        2
 3      586        4        2        2        2
 4      587        2        2        3        3
 ..     ...      ...      ...      ...      ...
 80     715        4        4        4        4
 81     716        1        1        1        1
 82     721        4        3        4        4
 83     722        2        2        2        2
 84     723        4        7        7        7

 [85 rows x 5 columns],
     userId  post_36  post_37
 0      558        3        3
 1      559        4        4
 2      583        4        4
 3      586        4        4
 4      587        3        3
 ..     ...      ...      ...
 81     715        6        6
 82     716        6        1
 83     721        5        4
 84     722        5        5
 85     723        2        6

 [86 rows x 3 columns],
     userId  post_38  post_39  post_40  post_41  post_42
 0      558        4        4        4        4        4
 1      559        4        4        4        4        4
 2      583        4        2        2        2        2
 3      586        4        2        2        2        2
 4      587        3        2        2        2        2
 ..     ...      ...      ...      ...      ...      ...
 81     715        4        2        1        5        4
 82     716        6        1        1        6        6
 83     721        5        3        4        3        4
 84     722        6        5        3        6        4
 85     723        6        6        4        7        4

 [86 rows x 6 columns],
      userId  conditie  calibrationId  recommendationId
 0       507         0            626               174
 1       508         1            626               683
 2       510         0             13              2017
 3       511         0              5              2152
 4       512         1            626              1140
 ..      ...       ...            ...               ...
 138     715         1           1277              1278
 139     721         1           1914               414
 140     722         0            929              2262
 141     723         0            151               132
 142     724         1           1295              1715

 [143 rows x 4 columns]]

Now we merge all the tables we collected in the list together on userId so that
we have one row per user with all the variables in one column each. We also
further remove some variables that are not of interest to us (such as time
variables) to further clean the dataframe

In [11]:
# Merge all DataFrames on the userId column
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on='userId', how="outer")

In [12]:
# check if there are duplicated 'userId' in merged_df and drop duplicates
merged_df.drop_duplicates(subset='userId', keep='last', inplace=True)

In [13]:
# Convert the start_time column to datetime format
merged_df['start_time'] = pd.to_datetime(merged_df['start_time'])

# remove start_time before 20 June 2024
merged_df = merged_df[merged_df['start_time'] >= '2024-06-20']

In [14]:
merged_df

,userId,genre,consent,age,gender,device,education,mancheck1,mancheck2,pre_1,...,post_36_y,post_37_y,post_38_y,post_39_y,post_40_y,post_41_y,post_42_y,conditie_y,calibrationId,recommendationId
579,560,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,561,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581,562,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
582,563,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583,564,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,720,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,721,4.0,1.0,19.0,2.0,2.0,2.0,0.0,5.0,NaN,...,5.0,4.0,5.0,3.0,4.0,3.0,4.0,1.0,1914.0,414.0
767,722,2.0,1.0,22.0,2.0,2.0,4.0,0.0,2.0,NaN,...,5.0,5.0,6.0,5.0,3.0,6.0,4.0,0.0,929.0,2262.0
768,723,1.0,1.0,21.0,1.0,2.0,2.0,1.0,6.0,NaN,...,2.0,6.0,6.0,6.0,4.0,7.0,4.0,0.0,151.0,132.0
769,724,4.0,NaN,NaN,NaN,NaN,NaN,1.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1295.0,1715.0

As a last step, we save the dataframe to a CSV file. We have now called this
dataframe final_df.csv, you can change the name if you want -- just make sure
you can find the dataframe after you have saved it. With this code, it is stored
in the same folder as your Python script.

In [15]:
merged_df.to_csv(f'{group_prefix}final_df.csv', index=False)