## Retrieving and cleaning data

This notebook can be used to get the data from your experiment saved as a CSV
file. You need to put the SQL file you receive in the phpmyadmin tool (see
Canvas on instructions how to do this) and then run this code. Watch out!
Sometimes you need to make small adaptations (indicated in the notebook)

In [161]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from sqlalchemy) (4.10.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [162]:
import pandas as pd
from sqlalchemy import create_engine, inspect

The following code connects to the SQL database from phpmyadmin and gets the
names of all the tables that are present. For each group there should be several
tables such as "calibration", "userconsent" or "propositions" -- but there might
be some columns only present for some of the groups.

**!! IMPORTANT !! You need to change the first command to reflect the name that
you have given the database. In this example the database was called "group25",
replace this with the name the database has in your phpmyadmin**

In [163]:
# Create a connection to the MySQL database using SQLAlchemy
engine = create_engine('mysql+pymysql://root:@localhost/group21')

# Use the inspect module to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Print the list of all tables
print(tables)

['calibration', 'pre_propositions', 'propositions', 'recommendation', 'userallergies', 'userconsent', 'userdemograph', 'usermancheck', 'userpresatisfaction', 'users', 'usersatisfaction', 'userselection']

In the next code cell we are selecting all the columns starting with "user"
except for the "users" column (as it does not include any relevant information
for us). Now we have a list of all the columns that we later want to retrieve
data for. By taking this approach, our code works for all kinds of different
columns starting with "user" since they are different from group to group.

In [164]:
# Select all the user columns
usercols = [n for n in tables if n.startswith('user') and n!='users']

Since we also want to know to which statements the different likert scale items
correspond (important for later analysis), we can retrieve a kind of "codebook"
for this from the database. The information about the likert scale items can be
stored in a few different tables: pre_propositions (asked before the
calibration/recommendation), propositions (asked after the recommendation), and
sometimes propositions1 if there were more questions than fit on the pages. Your
group might have one, two, or all of these tables. Running the code below
outputs the saved (pre-)propositions with their id, question wording, and scale
(usually 5 or 7 point). You can use the id to look up the matching column in the
csv dataframe later.

With the code below we are retrieving the tables, loading them into pandas
dataframes and adding a prefix to the item names (pre* or post*) as often the
IDs are the same for prepropositions and propositions, so we want to be able to
keep them apart later.

In [165]:
if 'pre_propositions' in tables:    
    # Query to select all items from userconsent table
    query = "SELECT * FROM pre_propositions"

    # Load data into a pandas DataFrame
    pre_propositions = pd.read_sql(query, engine)
    prefix = 'pre_'
    string_columns = ['id']

    for col in string_columns:
        pre_propositions[col] = pre_propositions[col].apply(lambda x: f"{prefix}{x}")

    # Print the DataFrame
    print(pre_propositions)

        id                                           question  scale
0    pre_1                       I trust recommender systems.      5
1    pre_2               I can depend on recommender systems.      5
2    pre_3                  Recommender systems are reliable.      5
3    pre_4  I trust recommender systems to recommend me al...      5
4    pre_5  I trust the recommendations of the systems to ...      5
5   pre_11  If a book or article is interesting, I do not ...      5
6   pre_12    Without reading, my life would not be the same.      5
7   pre_13  In comparison to other activities, reading is ...      5
8   pre_14             Reading helps make my life meaningful.      5
9   pre_15  I am confident I can understand difficult book...      5
10  pre_16                                I am a good reader.      5
11  pre_21         I would prefer complex to simple problems.      5
12  pre_22  I like to have the responsibility of handling ...      5
13  pre_23                    Thinking is not my idea of fun.      5
14  pre_24  I would rather do something that requires litt...      5
15  pre_25  I really enjoy a task that involves coming up ...      5
16  pre_26  I would prefer a task that is intellectual, di...      5
17  pre_31  In making decisions about things I might enjoy...      5
18  pre_32  In making decisions about things I might enjoy...      5
19  pre_33  In making decisions about things I might enjoy...      5

In [166]:
if 'propositions' in tables:        
    # Query to select all items from userconsent table
    query = "SELECT * FROM propositions"

    # Load data into a pandas DataFrame
    propositions = pd.read_sql(query, engine)
    prefix = 'post_'
    string_columns = ['id']

    for col in string_columns:
        propositions[col] = propositions[col].apply(lambda x: f"{prefix}{x}")

    # Print the DataFrame
    print(propositions)

       id                                           question  scale
0  post_1                  I am satisfied with the website.       5
1  post_2  The website provided recommendations that matc...      5

In [167]:
if 'propositions1' in tables:    
    # Query to select all items from userconsent table
    query = "SELECT * FROM propositions1"

    # Load data into a pandas DataFrame
    propositions1 = pd.read_sql(query, engine)
    prefix = 'post_'
    string_columns = ['id']

    for col in string_columns:
        propositions1[col] = propositions1[col].apply(lambda x: f"{prefix}{x}")

    # Print the DataFrame
    print(propositions1)

In the next cell we are defining a function that makes it possible for us later
to also add a prefix to column names which we will use later.

In [168]:
# Function to add prefix to all columns except 'userId'
def add_prefix_except_userid(df, prefix):
    return df.rename(columns={col: f"{prefix}{col}" if col != "userId" else col for col in df.columns})

In the following cell we are now finally retrieving our data: We take the names
of all the columns we identified as relevant (usercols), retrieve their content,
and put them all in a list. There are two types of tables that first need some
more work: userpresatisfaction(1) and usersatisfaction(1). These are the likert
scale items and they are stored in so-called long format (meaning that every
person appears in as many rows as are items in the likert scale, so if there is
a likert scale with 14 items there are 14 rows per study participant). As the
long format is not very useful for us to further work with the data, we convert
it into wide format (you can see the command below, .pivot) so that all the
tables are in the same format.

In [179]:
dfs = []
for col in usercols:
    query = f"SELECT * FROM {col}"
    tablecontent = pd.read_sql(query, engine)
    if col in ['userpresatisfaction', 'userpresatisfaction1']:
        tablecontent = tablecontent.pivot(index='userId', columns='questionId', values='value').reset_index()
        tablecontent.columns.name = None
        tablecontent = add_prefix_except_userid(tablecontent, 'pre_')
        print(tablecontent)
    elif col in ['usersatisfaction', 'usersatisfaction1']:
        tablecontent = tablecontent.pivot(index='userId', columns='questionId', values='value').reset_index()
        tablecontent.columns.name = None
        tablecontent = add_prefix_except_userid(tablecontent, 'post_')
    dfs.append(tablecontent)

    userId  pre_1  pre_2  pre_3  pre_4  pre_5  pre_11  pre_12  pre_13  pre_14  \
0      485      4      2      2      2      2       2       2       2       2
1      488      4      2      2      2      2       2       2       2       2
2      489      3      2      2      2      2       2       2       2       2
3      492      3      2      2      2      2       2       2       2       2
4      497      3      3      2      2      2       2       2       2       2
5      499      3      2      2      2      2       2       2       2       2
6      504      3      2      2      2      2       2       2       2       2
7      505      3      2      2      2      2       2       2       2       2
8      506      3      3      2      2      2       2       2       2       2
9      507      3      2      2      2      2       2       2       2       2
10     508      3      2      3      2      2       3       2       2       2
11     510      4      2      2      2      2       2       2       2       2
12     511      4      2      2      2      2       2       2       2       2
13     512      3      3      2      2      2       2       2       2       2
14     513      2      2      2      2      2       2       2       2       2
15     514      2      2      2      2      2       2       2       2       2
16     516      3      3      3      3      3       3       2       2       2
17     517      2      2      2      2      2       2       2       2       2
18     518      3      2      2      2      2       2       2       2       2
19     519      3      3      3      3      3       2       2       2       2
20     520      3      2      2      2      2       2       2       2       2
21     521      4      2      2      2      2       2       2       2       2
22     522      4      3      3      2      2       2       2       2       2
23     523      2      2      2      2      2       3       2       2       2
24     524      3      2      2      2      2       2       2       2       2
25     527      3      2      2      2      2       2       2       2       2
26     528      2      2      2      2      2       2       2       2       2
27     529      2      2      2      2      2       2       2       2       2
28     530      3      2      2      2      2       2       2       2       2
29     531      1      2      2      2      2       2       2       2       2
30     532      3      3      2      2      2       2       2       2       2

    ...  pre_16  pre_21  pre_22  pre_23  pre_24  pre_25  pre_26  pre_31  \
0   ...       2       2       2       2       2       2       2       2
1   ...       2       2       2       2       2       2       2       2
2   ...       2       2       2       2       2       2       2       2
3   ...       2       2       2       2       2       2       2       2
4   ...       2       2       2       2       2       2       2       2
5   ...       2       2       2       2       2       2       2       2
6   ...       2       2       2       2       2       2       2       2
7   ...       2       2       2       2       2       2       2       2
8   ...       2       2       2       2       2       2       2       2
9   ...       2       2       2       2       2       2       2       2
10  ...       2       2       2       2       2       2       2       2
11  ...       2       2       2       2       2       2       2       2
12  ...       2       2       2       2       2       2       2       2
13  ...       2       2       2       2       2       2       2       2
14  ...       2       2       2       2       2       2       2       2
15  ...       2       2       2       2       2       2       2       2
16  ...       2       2       2       2       2       2       2       2
17  ...       2       2       2       2       2       2       2       2
18  ...       2       2       2       2       2       2       2       2
19  ...       2       2       2       2       2       2       2       2
20  ...       2       2       2       2       2       2       2       2
21  ...       2       2       2       2       2       2       2       2
22  ...       2       2       2       2       2       2       2       2
23  ...       2       2       2       2       2       2       2       2
24  ...       2       2       2       2       2       2       2       2
25  ...       2       2       2       2       2       2       2       2
26  ...       2       2       2       2       2       2       2       2
27  ...       2       2       2       2       2       2       2       2
28  ...       2       2       2       2       2       2       2       2
29  ...       2       2       2       2       2       2       2       2
30  ...       2       2       2       2       2       2       2       2

    pre_32  pre_33
0        2       2
1        2       2
2        2       2
3        2       2
4        2       2
5        2       2
6        2       2
7        2       2
8        2       2
9        2       2
10       2       2
11       2       2
12       2       2
13       2       2
14       2       2
15       2       2
16       2       2
17       2       2
18       2       2
19       2       2
20       2       2
21       2       2
22       2       2
23       2       2
24       2       2
25       2       2
26       2       2
27       2       2
28       2       2
29       2       2
30       2       2

[31 rows x 21 columns]

Now we merge all the tables we collected in the list together on userId so that
we have one row per user with all the variables in one column each. We also
further remove some variables that are not of interest to us (such as time
variables) to further clean the dataframe

In [174]:
# Merge all DataFrames on the userId column
merged_df = dfs[0]
for df in dfs[1:]:
    merged_df = pd.merge(merged_df, df, on='userId', how="outer")
merged_df = merged_df.loc[:,~merged_df.columns.str.startswith('time')]

As a last step, we save the dataframe to a CSV file. We have now called this
dataframe final_df.csv, you can change the name if you want -- just make sure
you can find the dataframe after you have saved it. With this code, it is stored
in the same folder as your Python script.

In [171]:
merged_df.to_csv('final_df.csv', index=False)